# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next
out
build
dist

# Desarrollo
.git
.gitignore
README.md
.env*.local
.vscode
.idea

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
*.log
