--
-- PostgreSQL database dump
--

\restrict MguRA9NfLIsZTrY7OGbeXepUholC4VLi5kdbvSNZyYme0ADiCdcL3WKoaduDMYy

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_fecha_actualizacion_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_fecha_actualizacion_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.fecha_actualizacion = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_fecha_actualizacion_column() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: entregas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.entregas (
    id integer NOT NULL,
    vehiculo_operacion_id integer NOT NULL,
    numero_factura character varying(50) NOT NULL,
    cliente character varying(200),
    observacion text,
    estado character varying(20),
    fecha_operacion date NOT NULL,
    fecha_cumplido timestamp with time zone,
    usuario_cumplido_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.entregas OWNER TO postgres;

--
-- Name: entregas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.entregas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.entregas_id_seq OWNER TO postgres;

--
-- Name: entregas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.entregas_id_seq OWNED BY public.entregas.id;


--
-- Name: fotos_evidencia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fotos_evidencia (
    id integer NOT NULL,
    entrega_id integer NOT NULL,
    ruta_archivo character varying(500) NOT NULL,
    nombre_archivo character varying(200),
    tipo_mime character varying(100),
    tamano_bytes integer,
    uploaded_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.fotos_evidencia OWNER TO postgres;

--
-- Name: fotos_evidencia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fotos_evidencia_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fotos_evidencia_id_seq OWNER TO postgres;

--
-- Name: fotos_evidencia_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fotos_evidencia_id_seq OWNED BY public.fotos_evidencia.id;


--
-- Name: operaciones_diarias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.operaciones_diarias (
    id integer NOT NULL,
    fecha_operacion date NOT NULL,
    cantidad_vehiculos_solicitados integer NOT NULL,
    observacion text,
    usuario_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.operaciones_diarias OWNER TO postgres;

--
-- Name: operaciones_diarias_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.operaciones_diarias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.operaciones_diarias_id_seq OWNER TO postgres;

--
-- Name: operaciones_diarias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.operaciones_diarias_id_seq OWNED BY public.operaciones_diarias.id;


--
-- Name: pages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pages (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    nombre_display character varying(100) NOT NULL,
    ruta character varying(200) NOT NULL,
    icono character varying(50),
    orden integer,
    activo boolean,
    fecha_creacion timestamp with time zone DEFAULT now()
);


ALTER TABLE public.pages OWNER TO postgres;

--
-- Name: pages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pages_id_seq OWNER TO postgres;

--
-- Name: pages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pages_id_seq OWNED BY public.pages.id;


--
-- Name: permisos_por_rol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permisos_por_rol (
    id integer NOT NULL,
    rol_id integer NOT NULL,
    page_id integer NOT NULL,
    estado character varying(20),
    puede_ver boolean,
    puede_crear boolean,
    puede_editar boolean,
    puede_borrar boolean,
    fecha_control timestamp with time zone DEFAULT now() NOT NULL,
    usuario_control integer
);


ALTER TABLE public.permisos_por_rol OWNER TO postgres;

--
-- Name: permisos_por_rol_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permisos_por_rol_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permisos_por_rol_id_seq OWNER TO postgres;

--
-- Name: permisos_por_rol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permisos_por_rol_id_seq OWNED BY public.permisos_por_rol.id;


--
-- Name: permisos_rol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permisos_rol (
    id integer NOT NULL,
    rol_id integer NOT NULL,
    page_id integer NOT NULL,
    puede_ver boolean NOT NULL,
    puede_crear boolean NOT NULL,
    puede_editar boolean NOT NULL,
    puede_eliminar boolean NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now()
);


ALTER TABLE public.permisos_rol OWNER TO postgres;

--
-- Name: permisos_rol_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permisos_rol_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permisos_rol_id_seq OWNER TO postgres;

--
-- Name: permisos_rol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permisos_rol_id_seq OWNED BY public.permisos_rol.id;


--
-- Name: permisos_usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permisos_usuario (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    page_id integer NOT NULL,
    puede_ver boolean,
    puede_crear boolean,
    puede_editar boolean,
    puede_eliminar boolean,
    fecha_creacion timestamp with time zone DEFAULT now(),
    fecha_actualizacion timestamp with time zone DEFAULT now()
);


ALTER TABLE public.permisos_usuario OWNER TO postgres;

--
-- Name: permisos_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permisos_usuario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permisos_usuario_id_seq OWNER TO postgres;

--
-- Name: permisos_usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permisos_usuario_id_seq OWNED BY public.permisos_usuario.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text,
    activo boolean,
    fecha_creacion timestamp with time zone DEFAULT now(),
    estado character varying(20) NOT NULL,
    fecha_control timestamp with time zone DEFAULT now(),
    usuario_control integer
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: tipos_vehiculo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipos_vehiculo (
    id integer NOT NULL,
    descripcion character varying(100) NOT NULL,
    estado character varying(20),
    fecha_control timestamp with time zone DEFAULT now() NOT NULL,
    usuario_control integer
);


ALTER TABLE public.tipos_vehiculo OWNER TO postgres;

--
-- Name: tipos_vehiculo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipos_vehiculo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tipos_vehiculo_id_seq OWNER TO postgres;

--
-- Name: tipos_vehiculo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipos_vehiculo_id_seq OWNED BY public.tipos_vehiculo.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    nombre_completo character varying(100),
    email character varying(255),
    numero_celular character varying(20),
    rol_id integer,
    creado_por integer,
    activo boolean,
    fecha_creacion timestamp with time zone DEFAULT now() NOT NULL,
    fecha_actualizacion timestamp with time zone DEFAULT now(),
    intentos_fallidos integer,
    bloqueado_hasta timestamp with time zone
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: vehiculos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehiculos (
    id integer NOT NULL,
    placa character varying(20) NOT NULL,
    marca character varying(50),
    modelo character varying(50),
    anio integer,
    tipo character varying(30),
    tipo_vehiculo_id integer,
    estado character varying(20),
    conductor_asignado character varying(100),
    observaciones text,
    activo boolean,
    fecha_creacion timestamp with time zone DEFAULT now() NOT NULL,
    fecha_actualizacion timestamp with time zone DEFAULT now()
);


ALTER TABLE public.vehiculos OWNER TO postgres;

--
-- Name: vehiculos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vehiculos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.vehiculos_id_seq OWNER TO postgres;

--
-- Name: vehiculos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vehiculos_id_seq OWNED BY public.vehiculos.id;


--
-- Name: vehiculos_operacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vehiculos_operacion (
    id integer NOT NULL,
    operacion_id integer NOT NULL,
    placa character varying(20) NOT NULL,
    hora_inicio time without time zone,
    observacion text,
    activo boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.vehiculos_operacion OWNER TO postgres;

--
-- Name: vehiculos_operacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vehiculos_operacion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.vehiculos_operacion_id_seq OWNER TO postgres;

--
-- Name: vehiculos_operacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vehiculos_operacion_id_seq OWNED BY public.vehiculos_operacion.id;


--
-- Name: entregas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entregas ALTER COLUMN id SET DEFAULT nextval('public.entregas_id_seq'::regclass);


--
-- Name: fotos_evidencia id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fotos_evidencia ALTER COLUMN id SET DEFAULT nextval('public.fotos_evidencia_id_seq'::regclass);


--
-- Name: operaciones_diarias id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operaciones_diarias ALTER COLUMN id SET DEFAULT nextval('public.operaciones_diarias_id_seq'::regclass);


--
-- Name: pages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages ALTER COLUMN id SET DEFAULT nextval('public.pages_id_seq'::regclass);


--
-- Name: permisos_por_rol id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_por_rol ALTER COLUMN id SET DEFAULT nextval('public.permisos_por_rol_id_seq'::regclass);


--
-- Name: permisos_rol id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_rol ALTER COLUMN id SET DEFAULT nextval('public.permisos_rol_id_seq'::regclass);


--
-- Name: permisos_usuario id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_usuario ALTER COLUMN id SET DEFAULT nextval('public.permisos_usuario_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: tipos_vehiculo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_vehiculo ALTER COLUMN id SET DEFAULT nextval('public.tipos_vehiculo_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: vehiculos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehiculos ALTER COLUMN id SET DEFAULT nextval('public.vehiculos_id_seq'::regclass);


--
-- Name: vehiculos_operacion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehiculos_operacion ALTER COLUMN id SET DEFAULT nextval('public.vehiculos_operacion_id_seq'::regclass);


--
-- Name: entregas entregas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entregas
    ADD CONSTRAINT entregas_pkey PRIMARY KEY (id);


--
-- Name: fotos_evidencia fotos_evidencia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fotos_evidencia
    ADD CONSTRAINT fotos_evidencia_pkey PRIMARY KEY (id);


--
-- Name: operaciones_diarias operaciones_diarias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operaciones_diarias
    ADD CONSTRAINT operaciones_diarias_pkey PRIMARY KEY (id);


--
-- Name: pages pages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_pkey PRIMARY KEY (id);


--
-- Name: permisos_por_rol permisos_por_rol_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_por_rol
    ADD CONSTRAINT permisos_por_rol_pkey PRIMARY KEY (id);


--
-- Name: permisos_rol permisos_rol_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_rol
    ADD CONSTRAINT permisos_rol_pkey PRIMARY KEY (id);


--
-- Name: permisos_usuario permisos_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_usuario
    ADD CONSTRAINT permisos_usuario_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: tipos_vehiculo tipos_vehiculo_descripcion_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_vehiculo
    ADD CONSTRAINT tipos_vehiculo_descripcion_key UNIQUE (descripcion);


--
-- Name: tipos_vehiculo tipos_vehiculo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_vehiculo
    ADD CONSTRAINT tipos_vehiculo_pkey PRIMARY KEY (id);


--
-- Name: permisos_rol uq_rol_page; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_rol
    ADD CONSTRAINT uq_rol_page UNIQUE (rol_id, page_id);


--
-- Name: permisos_usuario uq_usuario_page; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_usuario
    ADD CONSTRAINT uq_usuario_page UNIQUE (usuario_id, page_id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: vehiculos_operacion vehiculos_operacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehiculos_operacion
    ADD CONSTRAINT vehiculos_operacion_pkey PRIMARY KEY (id);


--
-- Name: vehiculos vehiculos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehiculos
    ADD CONSTRAINT vehiculos_pkey PRIMARY KEY (id);


--
-- Name: idx_entregas_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entregas_estado ON public.entregas USING btree (estado);


--
-- Name: idx_entregas_fecha_cumplido; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entregas_fecha_cumplido ON public.entregas USING btree (fecha_cumplido);


--
-- Name: idx_entregas_fecha_operacion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entregas_fecha_operacion ON public.entregas USING btree (fecha_operacion);


--
-- Name: idx_entregas_vehiculo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_entregas_vehiculo ON public.entregas USING btree (vehiculo_operacion_id);


--
-- Name: idx_operaciones_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_operaciones_fecha ON public.operaciones_diarias USING btree (fecha_operacion);


--
-- Name: idx_pages_nombre; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pages_nombre ON public.pages USING btree (nombre);


--
-- Name: idx_permisos_rol_page_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_permisos_rol_page_id ON public.permisos_rol USING btree (page_id);


--
-- Name: idx_permisos_rol_rol_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_permisos_rol_rol_id ON public.permisos_rol USING btree (rol_id);


--
-- Name: idx_permisos_usuario_page_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_permisos_usuario_page_id ON public.permisos_usuario USING btree (page_id);


--
-- Name: idx_permisos_usuario_usuario_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_permisos_usuario_usuario_id ON public.permisos_usuario USING btree (usuario_id);


--
-- Name: idx_roles_nombre; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_roles_nombre ON public.roles USING btree (nombre);


--
-- Name: idx_usuarios_activo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_activo ON public.usuarios USING btree (activo);


--
-- Name: idx_usuarios_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: idx_usuarios_rol_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_rol_id ON public.usuarios USING btree (rol_id);


--
-- Name: idx_usuarios_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_username ON public.usuarios USING btree (username);


--
-- Name: idx_vehiculo_operacion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehiculo_operacion ON public.vehiculos_operacion USING btree (operacion_id);


--
-- Name: idx_vehiculos_placa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vehiculos_placa ON public.vehiculos_operacion USING btree (placa);


--
-- Name: ix_entregas_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_entregas_estado ON public.entregas USING btree (estado);


--
-- Name: ix_entregas_fecha_cumplido; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_entregas_fecha_cumplido ON public.entregas USING btree (fecha_cumplido);


--
-- Name: ix_entregas_fecha_operacion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_entregas_fecha_operacion ON public.entregas USING btree (fecha_operacion);


--
-- Name: ix_entregas_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_entregas_id ON public.entregas USING btree (id);


--
-- Name: ix_fotos_evidencia_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_fotos_evidencia_id ON public.fotos_evidencia USING btree (id);


--
-- Name: ix_operaciones_diarias_fecha_operacion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_operaciones_diarias_fecha_operacion ON public.operaciones_diarias USING btree (fecha_operacion);


--
-- Name: ix_operaciones_diarias_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_operaciones_diarias_id ON public.operaciones_diarias USING btree (id);


--
-- Name: ix_pages_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_pages_id ON public.pages USING btree (id);


--
-- Name: ix_pages_nombre; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_pages_nombre ON public.pages USING btree (nombre);


--
-- Name: ix_permisos_por_rol_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_permisos_por_rol_id ON public.permisos_por_rol USING btree (id);


--
-- Name: ix_permisos_rol_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_permisos_rol_id ON public.permisos_rol USING btree (id);


--
-- Name: ix_permisos_rol_page_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_permisos_rol_page_id ON public.permisos_rol USING btree (page_id);


--
-- Name: ix_permisos_rol_rol_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_permisos_rol_rol_id ON public.permisos_rol USING btree (rol_id);


--
-- Name: ix_permisos_usuario_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_permisos_usuario_id ON public.permisos_usuario USING btree (id);


--
-- Name: ix_permisos_usuario_page_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_permisos_usuario_page_id ON public.permisos_usuario USING btree (page_id);


--
-- Name: ix_permisos_usuario_usuario_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_permisos_usuario_usuario_id ON public.permisos_usuario USING btree (usuario_id);


--
-- Name: ix_roles_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_roles_estado ON public.roles USING btree (estado);


--
-- Name: ix_roles_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_roles_id ON public.roles USING btree (id);


--
-- Name: ix_roles_nombre; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_roles_nombre ON public.roles USING btree (nombre);


--
-- Name: ix_tipos_vehiculo_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_tipos_vehiculo_estado ON public.tipos_vehiculo USING btree (estado);


--
-- Name: ix_tipos_vehiculo_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_tipos_vehiculo_id ON public.tipos_vehiculo USING btree (id);


--
-- Name: ix_usuarios_activo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_usuarios_activo ON public.usuarios USING btree (activo);


--
-- Name: ix_usuarios_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_usuarios_id ON public.usuarios USING btree (id);


--
-- Name: ix_usuarios_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_usuarios_username ON public.usuarios USING btree (username);


--
-- Name: ix_vehiculos_activo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vehiculos_activo ON public.vehiculos USING btree (activo);


--
-- Name: ix_vehiculos_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vehiculos_estado ON public.vehiculos USING btree (estado);


--
-- Name: ix_vehiculos_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vehiculos_id ON public.vehiculos USING btree (id);


--
-- Name: ix_vehiculos_operacion_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vehiculos_operacion_id ON public.vehiculos_operacion USING btree (id);


--
-- Name: ix_vehiculos_operacion_placa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vehiculos_operacion_placa ON public.vehiculos_operacion USING btree (placa);


--
-- Name: ix_vehiculos_placa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_vehiculos_placa ON public.vehiculos USING btree (placa);


--
-- Name: ix_vehiculos_tipo_vehiculo_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_vehiculos_tipo_vehiculo_id ON public.vehiculos USING btree (tipo_vehiculo_id);


--
-- Name: entregas update_entregas_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_entregas_updated_at BEFORE UPDATE ON public.entregas FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: operaciones_diarias update_operaciones_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_operaciones_updated_at BEFORE UPDATE ON public.operaciones_diarias FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: permisos_usuario update_permisos_usuario_fecha_actualizacion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_permisos_usuario_fecha_actualizacion BEFORE UPDATE ON public.permisos_usuario FOR EACH ROW EXECUTE FUNCTION public.update_fecha_actualizacion_column();


--
-- Name: usuarios update_usuarios_fecha_actualizacion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_usuarios_fecha_actualizacion BEFORE UPDATE ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.update_fecha_actualizacion_column();


--
-- Name: vehiculos_operacion update_vehiculos_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_vehiculos_updated_at BEFORE UPDATE ON public.vehiculos_operacion FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: entregas entregas_usuario_cumplido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entregas
    ADD CONSTRAINT entregas_usuario_cumplido_id_fkey FOREIGN KEY (usuario_cumplido_id) REFERENCES public.usuarios(id);


--
-- Name: entregas entregas_vehiculo_operacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.entregas
    ADD CONSTRAINT entregas_vehiculo_operacion_id_fkey FOREIGN KEY (vehiculo_operacion_id) REFERENCES public.vehiculos_operacion(id) ON DELETE CASCADE;


--
-- Name: fotos_evidencia fotos_evidencia_entrega_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fotos_evidencia
    ADD CONSTRAINT fotos_evidencia_entrega_id_fkey FOREIGN KEY (entrega_id) REFERENCES public.entregas(id) ON DELETE CASCADE;


--
-- Name: operaciones_diarias operaciones_diarias_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operaciones_diarias
    ADD CONSTRAINT operaciones_diarias_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: permisos_por_rol permisos_por_rol_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_por_rol
    ADD CONSTRAINT permisos_por_rol_page_id_fkey FOREIGN KEY (page_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: permisos_por_rol permisos_por_rol_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_por_rol
    ADD CONSTRAINT permisos_por_rol_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: permisos_por_rol permisos_por_rol_usuario_control_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_por_rol
    ADD CONSTRAINT permisos_por_rol_usuario_control_fkey FOREIGN KEY (usuario_control) REFERENCES public.usuarios(id);


--
-- Name: permisos_rol permisos_rol_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_rol
    ADD CONSTRAINT permisos_rol_page_id_fkey FOREIGN KEY (page_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: permisos_rol permisos_rol_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_rol
    ADD CONSTRAINT permisos_rol_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: permisos_usuario permisos_usuario_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_usuario
    ADD CONSTRAINT permisos_usuario_page_id_fkey FOREIGN KEY (page_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: permisos_usuario permisos_usuario_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permisos_usuario
    ADD CONSTRAINT permisos_usuario_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: tipos_vehiculo tipos_vehiculo_usuario_control_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipos_vehiculo
    ADD CONSTRAINT tipos_vehiculo_usuario_control_fkey FOREIGN KEY (usuario_control) REFERENCES public.usuarios(id);


--
-- Name: usuarios usuarios_creado_por_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_creado_por_fkey FOREIGN KEY (creado_por) REFERENCES public.usuarios(id);


--
-- Name: usuarios usuarios_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id);


--
-- Name: vehiculos_operacion vehiculos_operacion_operacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehiculos_operacion
    ADD CONSTRAINT vehiculos_operacion_operacion_id_fkey FOREIGN KEY (operacion_id) REFERENCES public.operaciones_diarias(id) ON DELETE CASCADE;


--
-- Name: vehiculos vehiculos_tipo_vehiculo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vehiculos
    ADD CONSTRAINT vehiculos_tipo_vehiculo_id_fkey FOREIGN KEY (tipo_vehiculo_id) REFERENCES public.tipos_vehiculo(id);


--
-- PostgreSQL database dump complete
--

\unrestrict MguRA9NfLIsZTrY7OGbeXepUholC4VLi5kdbvSNZyYme0ADiCdcL3WKoaduDMYy

